<html>
    <head>
        <title>Mojo Radio</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/howler@2.0.5/dist/howler.min.js"></script>
    </head>
    <body>
        <p id="artist"></p>
        <p id="song"></p>
    </body>
    <script src="CurrentSong.js"></script>
</html>