<html>
    <head>
        <title>Mojo Radio</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <p id="artist"></p>
        <p id="song"></p>
        <audio id="player"></audio>
    </body>
    <script src="CurrentSong.js">
    </script>
</html>